<a href="cards/<%=id %>">
    <div class="card">
        <div class="card-img"><img src="<%=url %>" alt=""></div>
        <div class="card-description flex">
            <div class="card-header">
                <b class="card-name"><%=name %></b>
                <p class="rarity"><%=rarity %></p>
                <p class="rarity"><%=setID%>: <%=setName%></p>
            </div>
            <div>
                <p class="card-price">Price: <%=price %></p>
                <p>Quantity: <%=quantity %></p>
            </div>
        </div>
    </div>
</a>